@import 'config';

.sort {
  text-align: center;

  .Button {
    padding: $gutter;
    margin: $gutter $gutter;
    font-family: $font-main;
    font-size: $font-size-main;
    cursor: pointer;
    background-color: $color-gray-light;
    border: 0;
    border-radius: 1em;
    transition: background-color $AnimationSpeed $AnimationStyle;

    &:hover {
      background-color: $color-gray-dark;
    }

  }

  .selected {
    background-color: $color-green-light;
    transition: background-color $AnimationSpeed $AnimationStyle;

    &:hover {
      background-color: $color-green-dark;
    }
  }
}
