@import './config.scss';

.list {
  display: flex;
  flex-wrap: wrap;
  max-width: $max-width + $gutter;
  margin: 0 auto;

  .--hidden {
    display: none;
  }

  .list__card {
    display: flex;
    flex-wrap: wrap;
    @include columns(4);
    padding: 0 $gutter/2;
}

  .card {
    &__text {
      width: 100%;
      height: 100%;
      text-align: bottom;
      background-color: $color-gray;
      align-self: flex-end;

      &:hover {
        background-color: $color-gray-dark;
      }
    }
    background-color: $color-gray;
    transition: background-color $AnimationSpeed $AnimationStyle
  }
}
