@import './config.scss';

.list {
  display: flex;
  flex-wrap: wrap;
  max-width: $max-width + $gutter;
  margin: 0 auto;
  
    .list__card {
      display: flex;
      flex-wrap: wrap;
      @include columns(4);
      padding: 0 $gutter/2;
  }

  .--hidden {
    display: none;
  }

    .text__container {
        display: flex;
        width: 100%;
        height: auto;
        background-color: $color-gray;
        align-self: flex-end;
        background-color: $color-gray;
        transition: background-color $AnimationSpeed $AnimationStyle
    }

    .text__container:hover {
        background-color: $color-gray-dark;
    }

}
